<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">forma</th>
        <th scope="col">nombre</th>
        <th scope="col">descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of morir">
        <td>{{item.forma}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.descripcion}}</td>
      </tr>
    </tbody>
  </table>
</div>