<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="1000" height="150" alt="Angular Logo" src="./../assets/titulo.png">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Saw</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/formas-morir" routerLinkActive="active">Formas de Morir en WWW<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quieren-morir" routerLinkActive="active">Quienes no quieren morir en WWW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/porque-ganar" routerLinkActive="active">Porque Ganar WWW</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
</div>

<div class="mt-5"></div>
<router-outlet></router-outlet>

