<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Te gusta la Asignatura WWW</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Comentarios"
                rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Cuantas horas has implementado semanalmente para estudiar WWW</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>2</option>
                <option>4</option>
                <option>6</option>
                <option>7</option>
                <option>10</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Cuéntanos que has aprendido en WWW</label>
            <textarea class="form-control" id="exampleFormControlTextarea2" placeholder="Cuentanos tus conocimientos"
                rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Te gusta la forma como enseña el Docente la Materia WWW</label>
            <textarea class="form-control" id="exampleFormControlTextarea3" placeholder="Danos una reseña del docente"
                rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">¿En base a los conocimientos aprendidos en el curso de WWW, estarías listo para trabajar como desarrollador de Software en ambiente Web? </label>
            <textarea class="form-control" id="exampleFormControlTextarea3" placeholder="Cuéntanos qué opinas." rows="3"></textarea>
        </div>
    </form>
</div>